a{
text-decoration: none;
  padding: none;
  color:white;
}


.header{
	background-color: #4E2A84;
	margin:0 auto;
	border-radius: 20px;
	color:white;
	margin-top: 15px;
}

.title{
	background: none !important;
	color: inherit;
	border: none;
	padding-top: 0px;
	font-size:50px;
	cursor: pointer;
	outline: inherit !important;
	font-family: 'Arbutus Slab', serif;
	display:inline-block;
	padding-left: 5%;
}

.tab{
	background: none !important;
	color: inherit;
	border: none;
	/*padding-top: 0px;*/
	font: inherit;
	cursor: pointer;
	outline: inherit !important;
	font-family: 'Times New Roman', serif;
	font-size:25px;
	display:inline-block;
	float:right;
	padding: 7.5px 10px 0px 10px;
	margin: 0px 1.2% 0px 15px;
}


.filtermessage{
	padding: 0px;
	margin:0px;
	font-size: 30px;
	font-family: 'Frank Ruhl Libre', serif;
	display:inline-block;
	margin-top: 50px;

}


.drop-down {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  margin: 10% auto;
  margin-top: 0px;
  margin-bottom: 0px;
}



.drop-down select {
  height: 30px;
  width: 210px;
  color: black;
  font-size: 20px;
  padding-bottom: 0;
  border-width: 1px;
  border-color:#C2FAF1;
  margin: 10% auto;
  border-radius: 2.5px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
  margin-left:8%;
  padding-left: 5px;
}

.drop-down::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.drop-down::after { /*shows arrow even when option selected*/
  
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: -.4em;
  top: 50%;
  margin-top: -.25em;
}




.drop-down::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
    height: 35px;
  width: 210px;

}







.container{
	width:80%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	/*border-style: solid;
	border-width:4px;*/
	
	margin: 0 auto;
	margin-bottom: 50px;

	/*border-style: solid;
	border-width: 3px;
	border-color: lightgray;
	border-radius: 20px;*/
text-align: right;
}





*/
.artdescription{
	line-height: 7px;
	padding-bottom: 8px;
	padding-left: 3px;
	text-align: left;
}




div.gallery {
    margin: 0 auto;
    border: 4px solid #ccc;
}


div.gallery img {
    /*width: 100%;
    height: auto;*/
    height:300px;
    width:auto;
    margin: 0 auto;
}
/*
div.execdescription {
    padding: 15px;
    text-align: center;
}*/

* {
    box-sizing: border-box;
}




.art {
    /*padding: 0 15px;*/
    float: left;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px){
    .art {
        width: 50%;
        /*margin: 6px 0;*/
    }
}

@media only screen and (max-width: 830px){
    .art {
        width: 100%;
    }
    
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.spacing{
margin: 100px;
}
