a{
text-decoration: none;
  padding: none;
  color:white;
}


.header{
	background-color: #4E2A84;
	margin:0 auto;
	border-radius: 20px;
	color:white;
	margin-top: 15px;
}

.title{
	background: none !important;
	color: inherit;
	border: none;
	padding-top: 0px;
	font-size:50px;
	cursor: pointer;
	outline: inherit !important;
	font-family: 'Arbutus Slab', serif;
	display:inline-block;
	padding-left: 5%;
}

.tab{
	background: none !important;
	color: inherit;
	border: none;
	/*padding-top: 0px;*/
	font: inherit;
	cursor: pointer;
	outline: inherit !important;
	font-family: 'Times New Roman', serif;
	font-size:25px;
	display:inline-block;
	float:right;
	padding: 7.5px 10px 0px 10px;
	margin: 0px 1.2% 0px 15px;
}


.filtermessage{
	padding: 0px;
	margin:0px;
	font-size: 30px;
	font-family: 'Frank Ruhl Libre', serif;
	display:inline-block;
	margin-top: 50px;

}


.drop-down {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  margin: 10% auto;
  margin-top: 0px;
  margin-bottom: 0px;
}



.drop-down select {
  height: 30px;
  width: 210px;
  color: black;
  font-size: 20px;
  padding-bottom: 0;
  border-width: 1px;
  border-color:#C2FAF1;
  margin: 10% auto;
  border-radius: 2.5px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; 
  margin-left:8%;
  padding-left: 5px;
}

.drop-down::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.drop-down::after { /*shows arrow even when option selected*/
  
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: -.4em;
  top: 50%;
  margin-top: -.25em;
}




.drop-down::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
    height: 35px;
  width: 210px;

}



.artcontainer{
	width:80%;
	margin: 0 auto;
}


.container{
	width:80%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	
	
	margin: 0 auto;
	margin-bottom: 50px;


text-align: right;
}



.spacing{
margin: 100px;
}



#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}


@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


.text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



.image {

}

.artdescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: lightgray;
}

.art:hover .artdescription {
  opacity: .95;
}

.art {
  position: relative;
  width: 100%;
}
